body{
	margin: inherit;
	font-family: 'Roboto', sans-serif;
}
h1{
	font-family: 'Nova Mono', monospace;
	text-transform: lowercase;
	margin: 0px;
}
h2{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1em;
	margin-bottom: 5px;
    /*margin-top: 20px;*/
}
h3{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 0.8em;
	margin-bottom: 5px;
    margin-top: 20px;
}
#container{
	position: relative;
}
#ui-panel, #visualiser{
	position: absolute;
}
#ui-panel{
	margin: 30px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	padding: 15px;
}

/* Visual type tabs */
#visual-types{
	margin: 20px 0;
}
.visual-type-toggle{
	padding: 7px;
	background-color: transparent;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 10px;
}
.visual-type-toggle.active{
	background-color: #8bcdec;
}
.visual-selection{
	display: none;
	height: 140px;
	overflow-y: scroll;
  box-shadow: 0 0 5px 0px #888888;
}
.visual-selection.active{
	display: block;
}

/* Visual mode thumbnails */
.visual-mode{
	width: 150px;
	height: 100px;
	margin: 20px auto 20px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.visual-mode:hover{
	cursor: pointer;
	border: 2px solid #8bcdec;
}
.visual-mode.active{
	background-color: #8bcdec;
	background-blend-mode: color-burn;
}
.visual-mode p{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	padding: 5px 0;
	background-color: #ede6e0;
	font-family: monospace;
	border: solid 1px black;
}

/* Dat Gui Overrodes */
.dg.main {
  margin: 0 auto;
}
.dg.main .close-button.close-bottom {
    position: relative;
}
