body{
	margin: inherit;
	font-family: 'Roboto', sans-serif;
}
h1{
	font-family: 'Nova Mono', monospace;
	text-transform: lowercase;
	margin: 0px;
}
h2{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1em;
	margin-bottom: 5px;
    margin-top: 20px;
}
#container{
	position: relative;
}
#ui-panel, #visualiser{
	position: absolute;
}
#ui-panel{
	margin: 30px;
	text-align: center;
}

select, option{
	border: none;
	background-color: rgba(255,255,255,0.5);
	font-size: 15px;
	/*border-radius: 0px;*/
}
.input-field{
	border: none;
	background-color: rgba(255,255,255,0.5);
	margin-left: 10px;
 }
