.visselect--info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
  }
}

.viscontrol--infoicons{
  margin-top: 20px;
}

.visselect--typeicon{
  @include thumbIcon;

  display: inline-block;
  height: 30px;
  width: 30px;
  &.calibrate{
    background-image: url('../img/icons/oscil_type_calibrate.svg');
  }
  &.shape{
    background-image: url('../img/icons/oscil_type_shape.svg');
  }
  &.image{
    background-image: url('../img/icons/oscil_type_image.svg');
  }
  &.video{
    background-image: url('../img/icons/oscil_type_video.svg');
  }
  &.three{
    background-image: url('../img/icons/oscil_type_three.svg');
  }
}
.visselect--title{
  display: inline-block;
  margin: auto 20px;
}

.visselect--toggle{
  @include imgButton;
  background-image: url('../img/icons/oscil_controlpanel_expand.svg');
  height: 20px;
  width: 20px;

  &.active{
    background-image: url('../img/icons/oscil_controlpanel_collapse.svg');
  }
}

.visselect--thumbitem{
  align-items: center;
  background-position: center;
  background-size: cover;
  color: $main-colour;
  display: flex;
  justify-content: center;
  height: 70px;
  margin-bottom: 10px;
  text-decoration: none;
}

.visselect--thumbcontainer{
  max-height: 250px;
  overflow-y: auto;
}
