#topnav--oscillogo{
  display: inline-block;
  background-image: url('../img/icons/oscil_logo_white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}
