.thumbnail--grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.thumbnail--item{
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}
.thumbnail--background{
  height: 100%;
  text-align: center;
  // Align content at bottom of thumb:
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.thumbnail--info{
  background: $background-colour;
  width: 100%;
  margin: 10px;
  color: $main-colour;
  font-family: $type-body;
  text-align: left;
  padding: 10px;
}
.thumbnail--title{
  font-weight: bold;
}

@mixin thumbIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 20px;
}
.thumbnail--type{
  @include thumbIcon;
  &.shape{
    background-image: url('../img/icons/oscil_type_shape.svg');
  }
  &.image{
    background-image: url('../img/icons/oscil_type_image.svg');
  }
  &.video{
    background-image: url('../img/icons/oscil_type_video.svg');
  }
  &.three{
    background-image: url('../img/icons/oscil_type_three.svg');
  }
}
.thumbnail--renderer{
  @include thumbIcon;
  &.html{
    background-image: url('../img/icons/oscil_renderer_html.svg');
  }
  &.p5{
    background-image: url('../img/icons/oscil_renderer_p5.svg');
  }
  &.three{
    background-image: url('../img/icons/oscil_renderer_three.svg');
  }
}
