#VisualControlPanel{
  margin: 20px;
  position: relative;
  top: 100px;
}

@mixin imgButton {
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.viscontrol--menubuttons{
  @include imgButton;
  &.settings{
    background-image: url('../img/icons/oscil_controlpanel_settings_bg.svg');
  }
  &.select{
    background-image: url('../img/icons/oscil_controlpanel_select_bg.svg');
  }
}

.viscontrol--menubuttons.exterior{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.viscontrol--menubuttons.interior{
  &.select{
    float: left;
    height: 25px;
    width: 25px;
    background-image: url('../img/icons/oscil_controlpanel_select.svg');
  }
  &.close{
    @include imgButton;
    background-image: url('../img/icons/oscil_controlpanel_close.svg');
    float: right;
    height: 20px;
    width: 20px;
  }
}



.viscontrol--menu{
  background: $background-colour;
  color: $main-colour;
  padding: 20px;
  padding-bottom: 40px;
}
