#VisualControlPanel{
  margin: 20px;
  position: relative;
  top: 100px;
}

.viscontrol--menubuttons{
  @include imgButton;
  &.settings{
    background-image: url('../img/icons/oscil_controlpanel_settings_bg.svg');
  }
  &.select{
    background-image: url('../img/icons/oscil_controlpanel_select_bg.svg');
  }
}

.viscontrol--menubuttons.exterior{
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.viscontrol--menubuttons.interior{
  &.select{
    float: left;
    height: 25px;
    width: 25px;
    background-image: url('../img/icons/oscil_controlpanel_select.svg');
  }
  &.settings{
    float: left;
    height: 25px;
    width: 25px;
    background-image: url('../img/icons/oscil_controlpanel_settings.svg');
  }
  &.close{
    @include imgButton;
    background-image: url('../img/icons/oscil_controlpanel_close.svg');
    float: right;
    height: 20px;
    width: 20px;
  }
}

.viscontrol--menu{
  background: $background-colour;
  color: $main-colour;
  padding: 20px;
  padding-bottom: 40px;
  width: 250px
}

.viscontrol--menubuttoncontainer{
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
